[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
wheel = "*"
flake8 = "*"
coverage = "*"

[packages]
flask = "*"
htmlmin = "*"
cssmin = "*"

[requires]
python_version = "3.7"
