[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
twine = "*"
wheel = "*"
flake8 = "*"
coverage = "*"

[packages]
flask = ">=3.0.0"
cssmin = " 0.2.0"
flask-htmlmin = {file = ".", editable = true}
htmlmin2 = "*"

[requires]
python_version = ">=3.12"
